.nav-link {
    text-decoration: none;
    color: black;
}

.no-margin {
    margin: 0 0 0 0;
    padding:0;
}

.card {
    float: left;
}
.card-img-top {
    float:left;
    width: 200px;
}

.card-text{
    text-align: justify;
}

@media screen and (max-width:768px) {
    .card {
        width: 100%;
        height: 100%;
    }
}


