.nav-link {
    text-decoration: none;
    color: black;
}

.no-margin {
    margin: 0 0 0 0;
    padding:0;
}

.card-img-top {
    float:left;
    width: 200px;
}

.card-text{
    text-align: justify;
}